{{#collections}}
    <h2>{{name}}</h2>

    {{#items}}
        <table class="summary-list">
            <caption>{{name}} {{index}}</caption>

            {{#answers}}
                <tr>
                    <td>{{key}}</td>
                    <td>
                        {{#single}}{{single}}{{/single}}

                        {{#multiple}}
                            <ul>
                                {{#multiple}}
                                    <li>{{.}}</li>
                                {{/multiple}}
                            </ul>
                        {{/multiple}}
                    </td>
                </tr>
            {{/answers}}
        </table>

        {{> collection}}
    {{/items}}
{{/collections}}
