services:
  api:
    build:
      context: .
    networks:
      - hmpps
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
      interval: 5s
      retries: 100
    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_URL=http://auth:8080/auth
      - SPRING_PROFILES_ACTIVE=dev,postgres
      - DATABASE_ENDPOINT=postgres:5432
      - DATABASE_READ_ENDPOINT=postgres_replica:5432
      - HMPPS_SQS_PROVIDER=localstack
      - HMPPS_SQS_LOCALSTACK_URL=http://localstack:4566
      - HMPPS_SQS_QUEUES_AUDIT_QUEUE_NAME=audit-queue
    depends_on:
      - postgres
      - postgres_replica
      - auth
      - localstack

  postgres:
    image: postgres:16
    user: postgres
    restart: always
    networks:
      - hmpps
    healthcheck:
      test: 'pg_isready -U root --dbname=postgres'
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: root
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: dev
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256\nhost replication all 0.0.0.0/0 md5"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
    command: |
      postgres
        -c wal_level=replica
        -c hot_standby=on
        -c max_wal_senders=10
        -c max_replication_slots=10
        -c hot_standby_feedback=on
        -c log_statement=all
        -c log_min_duration_statement=0
    volumes:
      - ./docker/scripts/postgres/primary-init.sql:/docker-entrypoint-initdb.d/00_init.sql

  postgres_replica:
    image: postgres:16
    user: postgres
    restart: always
    networks:
      - hmpps
    healthcheck:
      test: 'pg_isready -U root --dbname=postgres'
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      PGUSER: replicator
      PGPASSWORD: replicator_password
    command: |
      bash -c "
      until pg_basebackup --pgdata=/var/lib/postgresql/data -R --slot=replication_slot --host=postgres --port=5432
      do
      echo 'Waiting for primary to connect...'
      sleep 1s
      done
      echo 'Backup done, starting replica...'
      chmod 0700 /var/lib/postgresql/data
      postgres -c log_statement=all -c log_min_duration_statement=0
      "
    depends_on:
      - postgres

  auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
      interval: 5s
      retries: 60
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    environment:
      - SERVICES=sqs
      - LOCALSTACK_HOST=localstack:4566
      - DEBUG=1
      - DEFAULT_REGION=eu-west-2
      - AWS_DEFAULT_REGION=eu-west-2
      - USE_SSL=false
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "./docker/scripts/localstack/init:/etc/localstack/init/ready.d"
      - "./docker/scripts/localstack/wait:/scripts/wait"
    healthcheck:
      test: [ "CMD", "bash", "/scripts/wait/healthcheck.sh" ]
      interval: 5s
      timeout: 10s
      retries: 50

networks:
  hmpps:
