services:
  api:
    build:
      context: .
    networks:
      - hmpps
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
      interval: 5s
      retries: 100
    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_URL=http://auth:8080/auth
      - SPRING_PROFILES_ACTIVE=dev,postgres
      - DATABASE_ENDPOINT=postgres:5432
      - HMPPS_SQS_PROVIDER=localstack
      - HMPPS_SQS_LOCALSTACK_URL=http://localstack:4566
      - HMPPS_SQS_QUEUES_AUDIT_QUEUE_NAME=audit-queue
    depends_on:
      - postgres
      - auth
      - localstack

  postgres:
    image: postgres:18
    restart: always
    networks:
      - hmpps
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: dev
    tmpfs:
      - /var/lib/postgresql

  auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/auth/health" ]
      interval: 5s
      retries: 60
    volumes:
      - ./auth_db:/auth_db
    environment:
      SPRING_PROFILES_ACTIVE: dev
      APPLICATION_AUTHENTICATION_UI_ALLOWLIST: 0.0.0.0/0
      SPRING_FLYWAY_LOCATIONS: classpath:db/auth,db/auth_{vendor},db/dev/data/auth_{vendor},db/dev/data/auth,filesystem:/auth_db

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    environment:
      - SERVICES=sqs
      - LOCALSTACK_HOST=localstack:4566
      - DEBUG=1
      - DEFAULT_REGION=eu-west-2
      - AWS_DEFAULT_REGION=eu-west-2
      - USE_SSL=false
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "./docker/scripts/localstack/init:/etc/localstack/init/ready.d"
      - "./docker/scripts/localstack/wait:/scripts/wait"
    healthcheck:
      test: [ "CMD", "bash", "/scripts/wait/healthcheck.sh" ]
      interval: 5s
      timeout: 10s
      retries: 50

networks:
  hmpps:
